<%- include('partials/head.html', { title: 'Your Albums' }) %>
<%- include('partials/navbar.html', { currentPage: 'albums' }) %>

<div id="albums-list">
    <input class="search" placeholder="Search albums..." style="margin:20px 0; padding:6px; border-radius:4px; border:1px solid #282828;">
    <table class="table album-table">
        <thead>
            <tr>
                <th class="sort" data-sort="album-cover">Album Cover</th>
                <th class="sort" data-sort="album-name">Album Name</th>
                <th class="sort" data-sort="artists">Artists</th>
            </tr>
        </thead>
        <tbody class="list">
            <% for(var i=0; i < album_info.length; i++) { %>
            <tr>
                <td class="album-cover">
                <img src="<%= album_info[i].image %>" alt="<%= album_info[i].name %>" style="width: 50px; height: 50px; border-radius: 4px; margin-right: 10px;">
                </td>
                <td class="album-name"> <%= album_info[i].name %></td>
                <td class="artists"><%= album_info[i].artists %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('partials/footer.html') %>
<%- include('partials/scripts.html', { 
    additionalScripts: `
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>
        var options = {
            valueNames: [ 'album-name', 'artists' ]
        };
        var albumList = new List('albums-list', options);
    </script>
    `
}) %>
</body>
</html>
