<!doctype html>
<html>
  <head>
    <title>Spotify Tool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>Welcome to the Spotify tool!</h1>
        <a href="/login" class="btn btn-success">Log in with Spotify</a>
      </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </body>
</html>

