<%- include('partials/head.html', { title: 'Privacy Policy' }) %>
<%- include('partials/navbar.html', { currentPage: 'privacy' }) %>
        <div class="container" style="color: aliceblue;">
            <h1>Privacy Policy</h1>
            <p>This application does not save any data used to log into your Spotify account. This application is open-source and can be viewed at it's <a href="https://github.com/owainjhughes/discogrify">Github Repository</a></p>
            <h2>API Usage</h2>
            <p>This application makes use of two public APIs.
                <ul>
                    <li>Spotify API</li>
                    <li>Discogs API</li>
                </ul>
                The applications uses the Spotify API to get all of a users saved albums, and fetches their community scores from the Discogs API (Unless the score is already saved in the database).
            </p>
        </div>

<%- include('partials/footer.html') %>
<%- include('partials/scripts.html') %>
</body>
</html>
